:root{
    --theme:#1c9dea;
    --theme-hover: #1683c5;
    --bg:#eff7fe;
    --white:#fff;
    --secondary:#223645;
    --secondary-hover: #182733;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "./customUtilities.css";


body{
    font-family: "Rubik", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-custom {
        background-color: var(--bg);
    }
    .text-theme {
        color: var(--theme);
    }
    .btn-theme{
        color: var(--white);
        background: var(--theme);
        transition: all .2s ease;
        &:hover{
            transition: all .2s ease;
            background: var(--theme-hover);
        }
    }
    .btn-secondary{
        color: var(--white);
        background: var(--secondary);
        transition: all .2s ease;
        &:hover{
            transition: all .2s ease;
            background: var(--secondary-hover);
        }
    }
}